{
   "openapi":"3.0.1",
   "info":{
      "title":"Package Services",
      "description":"# Overview\n\n The Global SKU (Grizzly) Enterprise Services team will be responsible for developing and supporting a suite of tools and services to support the entire range of Global SKU (Grizzly) hardware products.\n\n# Basepath URL\n\n**Stage** - ```https://api-stg.trimble.com/t/trimble.com/gsku-services/1.0/```\n\n\n**Prod** - ```https://api.trimble.com/t/trimble.com/gsku-services/1.0/```\n\n# Authorization\n\nThe service will be secured through API Auth Server. Thus requiring an\n'Authorization' header in all requests. The value of the header can be picked up from Trimble APICloud which will be Bearer token. You have to send a valid\n```Access Token``` in the Authorization header, using the ```Bearer```\nauthentication scheme.\n\nFormat: ```Bearer <access_token>```\n",
      "contact":{
         "name":"GLOBAL-SKU",
         "url":"https://sites.google.com/trimble.com/ttm/teams/global-sku",
         "email":"globalskuserviceschennai-ug@trimble.com"
      },
      "version":"v0.0.1",
      "x-logo":{
         "altText":"Trimble GSKU logo",
         "url":"https://tools.dev.transportation.trimble.com/static/media/gsku_icon.e7442391.svg"
      }
   },
   "servers":[
      {
         "url":"https://api-stg.trimble.com/t/trimble.com/gsku-services/1.0",
         "description":"Stage environment"
      }
   ],
   "tags":[
      {
         "name":"Packages",
         "description":"API's related to Packages"
      }
   ],
   "paths":{
      "/packages/autocomplete":{
         "get":{
            "tags":[
               "Packages"
            ],
            "summary":"Get Packages Autocomplete",
            "description":"Get list of packages by name",
            "operationId":"getPackagesByName",
            "parameters":[
               {
                  "name":"name",
                  "in":"query",
                  "description":"Search key for package",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Successfully fetched packages",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/PackageAutoCompleteResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"The resource you were trying to reach is not found"
               },
               "403":{
                  "description":"Accessing the resource you were trying to reach is forbidden"
               },
               "401":{
                  "description":"You are not authorized to view the resource"
               }
            }
         }
      },
      "/packages":{
         "get":{
            "tags":[
               "Packages"
            ],
            "summary":"Get Packages",
            "description":"Get list of packages - Query params(name, page & limit) must be used for pagination, otherwise all packages will be returned",
            "operationId":"getPackagesByName_1",
            "parameters":[
               {
                  "name":"requestParams",
                  "in":"query",
                  "description":"Includes name, page & limit as query params",
                  "required":true,
                  "schema":{
                     "type":"object",
                     "additionalProperties":{
                        "type":"string"
                     }
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Successfully fetched packages",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/PackageResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"The resource you were trying to reach is not found"
               },
               "403":{
                  "description":"Accessing the resource you were trying to reach is forbidden"
               },
               "401":{
                  "description":"You are not authorized to view the resource"
               }
            }
         },
         "post":{
            "tags":[
               "Packages"
            ],
            "summary":"Save Package",
            "description":"To save packages",
            "operationId":"savePackageDetails",
            "requestBody":{
               "content":{
                  "application/json":{
                     "schema":{
                        "$ref":"#/components/schemas/Package"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "201":{
                  "description":"Successfully saved the package",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"integer",
                           "format":"int64"
                        }
                     }
                  }
               },
               "404":{
                  "description":"The resource you were trying to reach is not found"
               },
               "403":{
                  "description":"Accessing the resource you were trying to reach is forbidden"
               },
               "401":{
                  "description":"You are not authorized to view the resource"
               }
            }
         }
      },
      "/packages/publish":{
         "post":{
            "tags":[
               "Packages"
            ],
            "summary":"Publish Package",
            "description":"To publish package",
            "operationId":"publishShadow",
            "requestBody":{
               "content":{
                  "application/json":{
                     "schema":{
                        "$ref":"#/components/schemas/PublishRequest"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "200":{
                  "description":"Successfully published the package",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object"
                        }
                     }
                  }
               },
               "404":{
                  "description":"The resource you were trying to reach is not found"
               },
               "403":{
                  "description":"Accessing the resource you were trying to reach is forbidden"
               },
               "401":{
                  "description":"You are not authorized to view the resource"
               }
            }
         }
      },
      "/packages/upload":{
         "post":{
            "tags":[
               "Packages"
            ],
            "summary":"Upload Package",
            "description":"To upload the package",
            "operationId":"uploadPackage",
            "parameters":[
               {
                  "name":"file",
                  "in":"query",
                  "description":"Package file to be uploaded",
                  "required":true,
                  "schema":{
                     "type":"array",
                     "items":{
                        "type":"string",
                        "format":"binary"
                     }
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Successfully uploaded the package",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/StorageResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"The resource you were trying to reach is not found"
               },
               "403":{
                  "description":"Accessing the resource you were trying to reach is forbidden"
               },
               "401":{
                  "description":"You are not authorized to view the resource"
               }
            }
         }
      },
      "/packages/promote":{
         "post":{
            "tags":[
               "Packages"
            ],
            "summary":"Promote Package",
            "description":"To promote given packages",
            "operationId":"promotePackage",
            "requestBody":{
               "content":{
                  "application/json":{
                     "schema":{
                        "$ref":"#/components/schemas/PromoteRequest"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "200":{
                  "description":"Successfully promoted the packages",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object"
                        }
                     }
                  }
               },
               "207":{
                  "description":"Promoted packages with success and failure. The response in package array will only have id & promoted properties",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/PromoteResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"The resource you were trying to reach is not found"
               },
               "403":{
                  "description":"Accessing the resource you were trying to reach is forbidden"
               },
               "401":{
                  "description":"You are not authorized to view the resource"
               }
            }
         }
      }
   },
   "components":{
      "schemas":{
         "PackageAutoCompleteResponse":{
            "type":"object",
            "properties":{
               "packages":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               }
            }
         },
         "Package":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"integer",
                  "format":"int64"
               },
               "name":{
                  "type":"string"
               },
               "product":{
                  "type":"string"
               },
               "type":{
                  "type":"string"
               },
               "version":{
                  "type":"string"
               },
               "architecture":{
                  "type":"string"
               },
               "sizeInBytes":{
                  "type":"integer",
                  "format":"int64"
               },
               "createdTimestamp":{
                  "type":"string",
                  "format":"date-time"
               },
               "lastUpdatedTimestamp":{
                  "type":"string",
                  "format":"date-time"
               },
               "createdBy":{
                  "type":"string"
               },
               "lastUpdatedBy":{
                  "type":"string"
               },
               "promoted":{
                  "type":"boolean"
               }
            }
         },"PackagePromoteDto":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"integer",
                  "format":"int64"
               },
               "promoted":{
                  "type":"boolean"
               }
            }
         },
         "PackageResponse":{
            "type":"object",
            "properties":{
               "size":{
                  "type":"integer",
                  "format":"int32"
               },
               "packages":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Package"
                  }
               }
            }
         },
         "PublishRequest":{
            "type":"object",
            "properties":{
               "deviceSerialNumber":{
                  "type":"string"
               },
               "packageId":{
                  "type":"integer",
                  "format":"int64"
               }
            }
         },
         "StorageResponse":{
            "type":"object",
            "properties":{
               "jobStatus":{
                  "type":"string"
               },
               "signedPackageName":{
                  "type":"string"
               },
               "elaspedTimeInMinutes":{
                  "type":"number",
                  "format":"float"
               },
               "totalBytesTransferred":{
                  "type":"integer",
                  "format":"int64"
               }
            }
         },
         "PromoteResponse":{
            "type":"object",
            "properties":{
               "metadata":{
                  "type":"object",
                  "additionalProperties":{
                     "type":"integer",
                     "format":"int32"
                  }
               },
               "packages":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/PackagePromoteDto"
                  }
               }
            }
         },
         "PromoteRequest":{
            "type":"object",
            "properties":{
               "packageId":{
                  "type":"array",
                  "items":{
                     "type":"integer",
                     "format":"int64"
                  }
               }
            }
         }
      },
      "securitySchemes":{
         "Bearer-key":{
            "type":"http",
            "scheme":"bearer",
            "bearerFormat":"JWT"
         }
      }
   }
}